@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration: none; color:inherit;}
html,body{
  font-family:'Merriweather','Noto Sans KR', sans-serif;
}
::-webkit-scrollbar{display:none;}
body{
  background-color: #121212;
  color:#fff;
}
section{
  min-width:1600px;
}
header{
  width:100%;
  min-width:1600px;
  height:80px;
  background-color:#333;
  position: fixed;
  z-index: 998;
}
header .wrap{
  margin: auto;
  width:1600px;
  display: flex;
  position: relative;
  padding:0px 40px; 
  box-sizing: border-box;
  line-height: 80px;
}
header h1{
  padding-right: 100px;
  padding-top:20px;
}
header h1 img{
  display: block;
}
header h1 a{
  cursor: pointer;
}
header ul{
  display: flex;
  font-size:26px;
  color:#fff;
  font-weight: bold;
  text-indent: 10px;
}
header .on {
  border-bottom: 2px solid #e7da0e;
}
header ul a:hover{
  border-bottom: 2px solid #e7da0e;
  color:#e7da0e;
}
header .menu{
  width:800px;
}
header .menu > li {
  width:100%;
}
header .menu > li:nth-child(4){
  padding-right:0px;
}
header .sub{
  flex-wrap:wrap;
  width:100%;
  background-color:#333;
  display: none;
  font-weight:normal;
  font-size:22px;
}
header .sub > li{
  width:100%;
  height:80px;
}
header .mymenu{
  position: absolute;
  right:40px;
  display: flex;
  justify-content: right;
}
header .mymenu li{
  padding-left:40px;
}
/*header END*/

#scrollBtn{
  width:140px;
  height:330px;
  position: fixed;
  top:50%;
  left:0;
  transform:translateY(-50%);
  z-index: 999;
  color:#fff;
}
#scrollBtn ul{
  width:100%;
  height:100%;
  display: flex;
  flex-wrap:wrap;
}
#scrollBtn li{
  height:20px;
  width:100%;
  display: flex;
  position: relative;
  font-size:16px;
  line-height:13px;
  cursor: pointer;
  padding-left: 30px;
  box-sizing: border-box;
  transition: all 0.5s;
  margin:15px 0px;
}
#scrollBtn a{
  display: block;
  width:12px;
  height:12px;
  border:3px solid #fff;
  border-radius: 50%;
  margin-right:20px;
  position: absolute;
}
#scrollBtn li span{
  left:70px;
  position: absolute;
}
#scrollBtn li.on a{
background: #fff; 
transition: 0.5s;
height: 50px; 
border-radius: 25px;
}
#scrollBtn li.on{
  font-weight: bold;
  line-height:55px;
  font-size:18px;
  margin-bottom: 42px;
}


/*scroll Btn End*/

#main{
  width:100%;
  min-width: 1540px;
  height:100vh;
  position: relative;
}
.vid1{
  min-width:100%;
  height:100%;
  opacity:0.9;
  overflow: hidden;
}
.vid1 video{
  width:100%;
}
#main > .wrap{
  position: absolute;
  left:50%; top:0;
  transform: translateX(-50%);
  width:1520px;
  height:100%;
}
#main > .wrap > .text{
  width:100%;
  height:100%;
  position: relative;
}
#main > .wrap > .text > h1{
  font-size:60px;
  position: absolute;
  left:0;
  bottom:80px;
}
#main > .wrap > .text b{
  font-size:140px;
}
/*main END*/

#highlights{
  width:1520px;
  margin: auto;
  height:100vh;
  padding-top:80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
#highlights .wrap{
  padding-top:80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
#highlights .leftbox{
  padding-top:40px;
  width:1000px;
  height:800px;
  display: flex;
  align-content: space-between;
  flex-wrap:wrap;
}
#highlights .leftTop{
  width:100%;
  height:280px;
  display: flex;
  justify-content:space-between;
  padding-bottom: 40px;
}
#highlights .leftTop .txt{
  width:575px;
  height:100%;
  font-size:24px;
}
#highlights .leftTop .txt h1{
  font-size:44px;
  padding-bottom: 60px;
}
#highlights .leftTop .txt span{
  line-height:45px;
}
#highlights .leftTop .imgbox{
  width:475px;
  height:100%;
  position: relative;
  cursor: pointer;
}
#highlights a{
  position: absolute;
  bottom:20px; left:20px;

  font-size:22px;
}
#highlights a i{
  font-size:30px;
}

#highlights .hover{
  position: absolute;
  left:0; top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,0.6);
  padding-left: 40px;
  box-sizing: border-box;
  display: none;
}
#highlights .hover h4{
  font-size:22px;
  padding:40px 0px 20px;
}
#highlights .hover span{
  font-size:16px;
  line-height: 24px;
}
#highlights .imgbox:hover.imgbox a{
  display: none;
}
#highlights .imgbox:hover .hover{
  display: block;
}

#highlights .leftbottom{
  width:100%;
  height:480px;
}
#highlights .leftbottom .imgbox{
  width:100%;
  height:100%;
  position: relative;
  cursor: pointer;
}
.leftbottom .hover h4{
  font-size:44px !important;
  padding:120px 0px 40px !important;
}
.leftbottom .hover span{
  font-size:30px !important;
  line-height: 50px !important;
}
/*leftbox END*/
#highlights .rightbox{
  padding-top:40px;
  width:475px;
  height:800px;
  display: flex;
  align-content: space-between;
  flex-wrap:wrap;
}
#highlights .rightTop{
  width:100%;
  height:280px;
  display: flex;
  justify-content:space-between;
  padding-bottom: 40px;
}
#highlights .rightTop .imgbox{
  width:475px;
  height:100%;
  position: relative;
  cursor: pointer;
}

#highlights .rightbottom{
  width:100%;
  height:480px;
}
.rightbottom .imgbox{
  width:100%;
  height:100%;
  position: relative;
  cursor: pointer;
}
.rightbottom .hover h4{
  font-size:34px !important;
  padding:120px 0px 40px !important;
}
.rightbottom .hover span{
  font-size:18px !important;
  line-height: 30px !important;
}

/*highlights END*/

#comfort{
  padding-top: 80px;
  box-sizing: border-box;
  width:100%;
  height:100vh;
  position: relative;
}
#comfort .bg{
  width:100%;
  height: 100%;
  background: url(../images/Comfort_bg.png) center no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#comfort .bg > li{
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: #0088bc;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
#comfort .bg > li::before{
  content: '';
  display: block;
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: #0088bc;
  animation:scale 2s linear infinite reverse;
}
@keyframes scale{
  0%{transform: scale(1.2); opacity:0.9;}
  25%{transform: scale(1.5); opacity:0.6;}
  50%{transform: scale(1.7); opacity: 0.5;}
  75%{transform: scale(1.5); opacity:0.6;}
  100%{transform: scale(1.2); opacity:0.9;}
}
#comfort .bg > .display{
  left:30%;
  top:28%;
}
#comfort .bg > .nav{
  top:34%;
  left:49.5%;
}
#comfort .bg > .light{
  right:30%;
  top:37%;
}
#comfort .bg > .space{
  right:27%;
  bottom:20%;
}

#comfort .wrap{
  width:1520px;
  height:50%;
  margin: auto;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#comfort .popup{
  position:relative;
  width:1200px;
  height:560px;
}
#comfort .popup > div{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-between;
  color:#444;
  font-size:18px;
  background-color: #f1f1f1;
  display: none;
}
#comfort .popup > div h1{
  color:#222;
  padding:80px 0px; 
  font-size:26px;
  text-align: center;
}
#comfort .popup > div .txt {
  position: absolute;
  padding: 0px 10px;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  width: 390px;
  height: 500px;
  line-height: 36px;
}
#comfort .popup a{
  position: absolute;
  bottom:-50px;
  right:20px;
}
/*comfort END*/

#Performance{
  padding-top: 80px;
  box-sizing: border-box;
  width:100%;
  height:100vh;
  position: relative;
}
#Performance > .bg{
  width:100%;
  height: 100%;
  background: url(../images/Performance_bg.png) center no-repeat;
  background-size: cover;
  background-position: center;
}
#Performance .wrap{
  position: absolute;
  left:50%; bottom:0;
  transform: translateX(-50%);
  width:1520px;
  height:70%;
}
#Performance .contents{
  width:100%;
  height:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position: relative;
}
#Performance .contents> h1{
  position: absolute;
  right:0;top:-196px;
  font-size:34px;
  line-height: 60px;
}
#Performance .leftbox{
  width:480px;
  height:571px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
#Performance .leftbox > div{
  height:255px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  cursor: pointer;
}
#Performance .leftbox .lpe img{
  width:109px;
  height:157px;
  padding-left:10px;
}
#Performance .leftbox .tce img{
  width:133px;
  height:157px;
  padding-left:10px;
}
#Performance .text{
  height:100%;
  padding:0px 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap:wrap;
  align-content: center;
}
#Performance .text h4{
  font-size:18px;
}
#Performance .text span{
  font-size:16px;
  padding-top:10px;
}
#Performance .text a{
  width:27px;
  height:26px;
  display: block;
  position: absolute;
  bottom:20px;
  right:40px;
  transition: all 1s;
  animation:arrow 1.2s linear infinite reverse;
}
@keyframes arrow{
  0%{opacity: 1;}
  25%{right:30px; opacity: 0.7;}
  50%{right:20px; opacity: 0.5;}
  75%{right:30px; opacity: 0.7;}
  100%{opacity:1;}
}


#Performance .text img{
  width:27px !important;
  height:26px !important;
}
#Performance .rightbox{
  width:1000px;
  height:575px;
  position: relative;
}

#Performance .rightbox .txt {
  padding: 0px 10px;
  box-sizing: border-box;
  font-weight: bold;
  position: absolute;
  width: 403px;
  top: 0px;
  right: 0;
}
#Performance .rightbox > div{
  display: flex;
  justify-content: space-between;
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  right:0;
  background:url(../images/rightbox.bg.jpg) center no-repeat;
  background-size: cover;
}
#Performance .rightbox h1{
  padding:40px 0px 50px;
  color:#111;
  font-size: 60px;
}
#Performance .rightbox h2{
  padding-bottom:50px;
  color:#111;
  font-size: 16px;
  line-height:50px;
}
#Performance .rightbox h2 b{
  font-size: 27px;
  line-height: 50px;
}
#Performance .rightbox p{
  color:#333;
  font-size: 18px;
  line-height:30px;
}
#Performance .rightbox > div{
  display: none;
}
/*Performance END*/
#Design{
  width:100%;
  height:100vh;
  position: relative;
}
#Design > .wrap{
  width:1520px;
  padding-top: 80px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}
#Design .imgGroup{
  position: absolute;
  padding-top: 40px;
}
#Design .imgGroup > li{
  width:222px;
  text-align: center;
  padding:2px 0px;
}
#Design .imgGroup > li img{
  opacity: 0.5;
}
#Design .imgGroup > li img.on{
  opacity: 1;
  outline:1px solid #fff;
}
#Design .imgGroup > li p{
  position: relative;
}
#Design .video {
  position: absolute;
  top: 140px;
  right: 0;
  width: 1280px;
  height: 720px;
  text-align: center;
}
#Design .video .vid2 {
  width: 1280px;
  height: 720px;
  text-align: center;
}
#Design figcaption{
  font-size:40px;
  letter-spacing: 10px;
}
/*Design END*/
#footer{
  width:100%;
  height:100vh;
  padding-top: 620px;
  box-sizing: border-box;
  background: url(../images/footer.jpg) center no-repeat;
  background-size: contain;
  background-position: top;
} 
footer{
  width:1520px;
  height:100%;
  margin: auto;
  font-size:14px;
}
footer > ul{
  text-align: center;
}
footer li{
  width:100%;
}
footer .txt1{
  width:850px;
  margin: auto;
  display: flex;
  justify-content: center;
}
footer .sns{
  width:420px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding:30px 0px;
}
footer .txt2{
  width:1420px;
  margin: auto;
  padding-bottom:30px;
  line-height: 30px;
  font-size:12px;
}
footer .txt2 li:nth-child(2){
  letter-spacing: 1px;
}
footer .txt2 li:nth-child(3){
  padding-top: 30px;
}
footer .txt4{
  line-height: 20px;
  font-size:12px;
}
